.button {
  background-color: #000;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;

  transition: 0.1s all linear;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }

  &:disabled, &:disabled:hover {
    background-color: #c0c0c0;
    box-shadow: none;;
    color: rgba(0, 0, 0, 0.379);
    cursor: default;
    opacity: 0.8;
  }
}
