.button {
  background-color: #000;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;

  transition: 0.1s all linear;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    background-color: #c0c0c0;
    color: #000;
    cursor: default;
  }

  &:disabled:hover {
    opacity: 1;
  }
}
