.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  width: 60px;
}

.headerLink {
  text-decoration: none;
  color: #4a4a4a;
  text-transform: uppercase;
  transition: .1s color linear;

  &:hover {
    color: #fa8072;
  }
}

.linksRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-left: 10px;
}

.bag {
  height: 30px;
  display: inline-block;
  cursor: pointer;
}
