.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  width: 60px;
}

.headerLink {
  text-decoration: none;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-right: 10px;
}
